@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-move {
  animation: move 12s linear infinite;
}